.about, .about h1 > span { background: #4e3745; }

.about-content{ display:flex;}

.about-picture{
  background: url(#{$image-path}/headshot.jpg) no-repeat center center;
  background-size: contain;
  height: 350px;
  transition: all ease-in-out 0.1s;
  border-radius: 30px;

  &:hover{ transform: scale(1.1); }
}

.about-desc{ padding-left: $standard-padding;}

@media only screen and (max-width: 736px) {
  .about-content {
    flex-direction: column;

    .about-picture, .about-desc {width: 100%;}
    .about-desc {padding: 0px;}

    .about-picture{
      margin-bottom: $standard-padding;
      height: auto;
    }
  }
}
