.about {
  background: linear-gradient(#949494, $light-text-color);
}

.about-content{
  display:flex;

  .about-picture, .about-desc {
    width: 50%;
  }
}

.about-picture{
  background: url(#{$image-path}/headshot.jpg) no-repeat center center;
  background-size: contain;
  height: 415px;
}

.about-desc{
  padding-left: $standard-padding;
}

@media only screen and (max-width: 490px) { .about-picture { height: 295px;}}
@media only screen and (max-width: 580px) { .about-picture { height: 370px;}}
@media only screen and (max-width: 736px) {
  .about-content {
    flex-direction: column;
    .about-picture, .about-desc {width: 100%;}
    .about-desc {padding: 0px;}
  }
}
