.skills {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  padding: 0px 20px;

  h1 {
    margin-right: 20px;
    padding: 20px;
    border-right: thin solid black;
    font-size: 3vw;
  }
}

.skill-container {
  display: flex;
  align-items: center;

  .lang {
    font-size: 2.4vw;
    padding-right: 50px;
    width: 20vw;
  }

  .star-container > * {
    font-size: 2.4vw;
    margin-right: 5px;
  }
}