.articles {
  background: #383838;
  span, a {
    color : $light-text-color;
    text-decoration: none;

    &:hover{

      img { transform: scale(1.1); }
      .article-button {background: #ad91a2;}
    }
  }

  img {
    transition: all ease-in-out 0.1s;
    border-radius: 30px;
    margin-right: $standard-padding;
  }
}

.article-content span {
  display: flex;
  align-items: center;
}

.article-info {
  display: inline-block;
  text-align: center;

  h1 {  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);}
  p {font-style: italic;}
}

.article-button {
  display: inline-block;
  border-radius: 20px;
  padding: 10px $standard-padding / 2;
  background: $dark-text-color;
  margin-top: $standard-padding;
}

@media only screen and (max-width: 490px) { 
  .articles span:hover {img {transform: none;}}
}

@media only screen and (max-width: 736px) {
  .article-content span {
    flex-direction: column;

    img {margin-right: 0px;}
  }
}