.education, .education h1 > span {background: #ad91a2;}

.college {
  font-weight: bold;
  margin-bottom: 5px;
}

.college-details{font-style: italic;}
.college-details.right {float: right;}
.college-details .minor {font-size: 0.9em;}

@media only screen and (max-width: 490px) {
  .college-details-container {
    display: flex;
    flex-direction: column;
  }
}