.site-header {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(#{$image-path}/bw-header.png) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

.header-menu {
  padding: ($standard-padding / 2) $standard-padding;
  position: fixed;
  top: 0px;
  left:0px;
  right: 0px;
  background-color: rgba(14, 14, 14, 0.7);
}

.icon-container {
  float: right;

    a {
      text-decoration: none;
      color: #616161;
      font-size: 3.2vmax;
      margin-left: $standard-padding / 2;
    }

    a:hover {
      color: $light-text-color;
      transition: all .2s ease-in-out;
    }
}

.header-content {
  color: $light-text-color;
  text-align: center;

  h1 {
    min-width: 500px;
    border-bottom: thin solid rgba(255, 255, 255, 0.5);
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: $responsive-font-size-large;
  }
}

@media only screen and (max-width: 736px) {
  .site-header{
    height:600px;
    transition: all 0.1s ease-in;
  }
} 
