.site-header {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(#{$image-path}/bw-header.png) no-repeat center center;
}

.header-menu {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 0;

  a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 4vmax;
    float: right;
    margin:20px 20px 0px 0px;
  }

  a:hover {
    color: white;
    transition: all .2s ease-in-out;
  }
}

.header-content {
  color: #f0f0f0;
  text-align: center;

  h1 {
    min-width: 500px;
    border-bottom: thin solid rgba(255, 255, 255, 0.5);
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: $responsive-font-size-large;
  }
}
