.hobbies {
    background: #afafaf;;
}

.slide-container {
    display:inline-block;

    img {
        max-width:100%;
        height: auto;
        border-radius: 30px;
    }
}

.slide-description {
    width: 100%;
    text-align: center;
}