html {height: 100%;}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: "Open Sans Regular", Arial, sans-serif;
    overflow-x: hidden;
}

.wrapper {
    max-width: 980px;
    margin: auto;
}

.about, .skills, .career, .tools, .education {
    padding: $standard-padding;

    h1{
        text-align: center;
        font-family: "Open Sans Light", Arial, sans-serif;
        font-size: 3vmax;
    }
}

.light-text, .dark-text { font-size: 1em; }
.light-text { color: $light-text-color; }
.dark-text { color: $dark-text-color; }
.light-text h1{border-bottom: thin solid $light-text-color;}
.dark-text h1{border-bottom: thin solid $dark-text-color;}

.hidden {opacity: 0;}

@media only screen and (max-width: 490px) {
    .about, .skills, .career, .tools, .education {
        padding: $standard-padding /2;

        h1{ font-size:5vmax;}
    }
}