.skills { background: #cccccc; }

.skill-content { padding: $standard-padding / 2; }

.skill-container {
  transition: all ease-in-out 0.2s;

  .lang {
    font-size: 1.5em;
    padding-right: 50px;
    width: 20vw;
  }

  .star-container {float:right;}
  .star-container > .fa, .far {
    font-size: 1.5em;
    margin-right: 5px;
    transition: all ease-in-out 0.2s;
  }
}

.skill-container:hover{
  font-weight: bold;

  .star-container .fa, .far { margin-right:20px;}
}

@media only screen and (max-width: 736px) {
  .skill-content { padding: 0px;}
  .skill-container:hover .star-container{ .fa, .far { margin-right:8px;}}
} 