.tools {
  background: url(#{$image-path}/bw-body.png) no-repeat top center;
  background-attachment: fixed;
  background-size: cover;

  // h1::before, h1::after {
  //   content: "";
  //   display: inline-block;
  //   height: 2px;
  //   position: absolute;
  //   top: 50%;
  //   width: 100%;
  //   left: 0px;
  //   background: $dark-text-color;
  // }

  // h1::before {right: 100%;}
  // h1::after {left: 100%;}

  li {font-size: 1.5em;}
}