$image-path: '../assets/images';
$font-path: '../assets/fonts';
$responsive-font-size-large: 5vmax;
$standard-padding: 40px;
$light-text-color : rgb(229, 250, 252);
//$dark-text-color: #383838;
$dark-text-color: #4e3745;