/**
Cat Morgan
catmorgan.github.io
base CSS file
**/
@import '../node_modules/swiper/swiper-bundle';
@import './modules/variables.scss';
@import './modules/site.scss';
@import './modules/header';
@import './modules/about';
@import './modules/career';
@import './modules/skills';
@import './modules/tools';
@import './modules/articles';
@import './modules/education';
@import './modules/footer';
@import './modules/insta';
@import './modules/hobbies';
@import './keyframes';

@font-face {
   font-family: "Open Sans Regular";
   src: url(#{$font-path}/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
   font-family: "Open Sans Light";
   src: url(#{$font-path}/OpenSans-Light.ttf) format('truetype');
}

@font-face {
   font-family: "Open Sans Semi-bold";
   src: url(#{$font-path}/OpenSans-Semibold.ttf) format('truetype');
}

// Swiper overrides
.swiper-button-prev {
   color: $dark-text-color;
}

.swiper-button-next {
   color:$dark-text-color;
}